---
import { products } from '../data/products.ts';
import Layout from '../layouts/Layout.astro';
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

export async function getStaticPaths() {
  return products.map((product) => ({
    params: { slug: product.slug },
  }));
}

const { slug } = Astro.params;

const product = products.find((p) => p.slug === slug);
if (!product) {
  throw new Error(`Product with slug "${slug}" not found.`);
}
---
<Layout>
  <article class="product-wrapper">
    <section class="product-meta">
      <div class="product-title">
        <h2>{product.name}</h2>
        <span>{product.year}</span>
      </div>
      <div class="product-description">
        <p>{product.description}</p>
      </div>
    </section>
    <section class="product-images">
      {product.images.map((img) => (
        <Image src={img} alt={product.name} title={product.name} />
      ))}
    </section>
  </article>
</Layout>

<style>
  .product-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    padding: 4rem 1rem;
  }

  .product-meta {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .product-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .product-images {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  @media (min-width: 1024px) {
    .product-wrapper {
        position: relative;
        overflow: hidden;
        padding: 8rem 1rem 1rem;
    }

    .product-meta {
        position: fixed;
        top: 0;
        left: 0;
        width: 50vw;
        height: 100vh;
        padding: 8rem 1rem 1rem;
        justify-content: flex-end;
    }

    .product-title {
        gap: .5rem;
        justify-content: flex-start;
        align-items: start;
        margin-bottom: .5rem;
    }

    h2 {
        font-size: 4vw;
        line-height: .8;
        order: 2;
    }

    p {
        font-size: .9rem;
    }

    .product-images {
        margin-left: 50vw;
        width: 50vw;
        height: 100vh;
        overflow-y: auto;
        padding: 1rem;
    }

  }
</style>