---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

export interface Props {
  name: string;
  year: string;
  images: ImageMetadata[];
  slug: string;
}

const { name, year, images, slug } = Astro.props;
---

<style>
    .project-card {
        transition: opacity 0.3s ease;
    }

    .thumb-wrapper {
        position: relative;
        display: flex;
        align-items: flex-end;
        overflow: hidden;
    }

    .thumb {
        width: 100%;
        max-height: 200px;
        object-fit: cover;
        border-radius: .25rem;
        transition: opacity 0.3s ease;
    }

    .meta {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .5rem 0;
    }

    .meta * {
        font-size: .75rem;
        font-weight: 500;
    }

    .meta p {
        color: #aaa;
    }

    .overlay {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        opacity: 1;
        transition: opacity 0.3s ease;
        display: none;
        align-items: center;
        justify-content: center;
    }

    .overlay svg {
        width: 16%;
        height: 16%;
        object-fit: cover;
        display: block;
    }

    .project-card.active .thumb {
        opacity: 1;
    }

    @media (min-width: 1024px) {
        .thumb {
            opacity: 0.02;
        }

        .overlay {
            display: flex;
        }
    }

</style>

<a href={`/${slug}`} class="project-card">
    <div class="thumb-wrapper">
        <!-- <div class="overlay">
            <svg width="1310" height="1223" viewBox="0 0 1310 1223" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M179.995 890.386C183.114 893.3 187.975 893.196 191.004 890.187L241.972 839.546C245.233 836.307 245.096 830.995 241.719 827.877C177.185 768.27 126.18 695.473 92.1794 614.404C91.3726 612.481 91.3583 610.319 92.1452 608.387C181.707 388.54 424.838 218.55 655 218.55C712.806 219.313 770.102 229.358 824.705 248.29C827.636 249.306 830.896 248.572 833.082 246.371L888.781 190.281C892.772 186.261 891.434 179.485 886.177 177.376C812.655 147.872 734.278 132.22 655 131.25C512.805 136.601 375.293 183.523 259.461 266.219C143.629 348.916 54.5525 463.76 3.24259 596.559C-0.222629 606.149 -0.222629 616.651 3.24259 626.241C41.0959 726.745 101.593 817.125 179.995 890.386Z" fill="var(--text)"/>
                <path d="M478.38 601.724C479.747 600.364 480.57 598.554 480.742 596.633C484.396 555.919 502.219 517.741 531.152 488.791C560.085 459.841 598.24 442.009 638.929 438.352C640.851 438.179 642.662 437.356 644.022 435.987L711.093 368.507C715.437 364.137 713.403 356.741 707.369 355.489C667.23 347.161 625.629 348.371 585.931 359.106C541.762 371.05 501.493 394.371 469.14 426.743C436.787 459.115 413.48 499.406 401.541 543.601C390.813 583.319 389.604 624.942 397.925 665.102C399.176 671.139 406.577 673.174 410.947 668.825L478.38 601.724Z" fill="var(--text)"/>
                <path d="M1306.76 596.559C1257.86 469.114 1173.58 358.379 1063.95 277.342C1059.98 274.412 1059.51 268.637 1062.99 265.147L1260.11 67.5018C1263.23 64.377 1263.22 59.3187 1260.1 56.1972L1209.9 5.96177C1206.77 2.83542 1201.7 2.83541 1198.58 5.96177L49.902 1155.3C46.7799 1158.42 46.78 1163.48 49.902 1166.61L100.103 1216.84C103.227 1219.96 108.295 1219.96 111.42 1216.84L323.876 1004.26C326.451 1001.68 330.441 1001.18 333.6 1002.99C431.486 1059.24 542.069 1089.72 655 1091.55C797.195 1086.2 934.706 1039.27 1050.54 956.584C1166.37 873.885 1255.45 759.04 1306.76 626.241C1310.22 616.651 1310.22 606.149 1306.76 596.559ZM829.5 611.4C829.317 641.959 821.12 671.936 805.729 698.332C790.339 724.729 768.293 746.621 741.797 761.821C715.3 777.02 685.28 784.996 654.738 784.95C627.675 784.909 601.042 778.57 576.923 766.496C572.221 764.142 571.399 757.905 575.116 754.186L797.787 531.387C801.479 527.694 807.667 528.471 810.062 533.111C822.538 557.289 829.216 584.096 829.5 611.4ZM655 1004.25C567.047 1002.71 480.697 980.806 402.705 940.306C397.962 937.843 397.04 931.491 400.818 927.71L499.33 829.142C502.067 826.404 506.364 826.03 509.6 828.155C558.903 860.549 617.766 875.37 676.644 870.087C737.744 864.614 794.981 837.83 838.356 794.424C881.737 751.025 908.505 693.755 913.975 632.62C919.256 573.705 904.441 514.806 872.063 465.472C869.94 462.239 870.314 457.945 873.048 455.21L988.827 339.365C991.553 336.638 995.841 336.239 998.996 338.455C1095.59 406.293 1171.37 499.766 1217.79 608.374C1218.61 610.31 1218.64 612.493 1217.84 614.443C1128.27 834.276 885.152 1004.25 655 1004.25Z" fill="var(--text)"/>
            </svg>
        </div> -->
        <Image src={images[0]} alt={name} class="thumb" />
    </div>
    <div class="meta">
        <h2>{name}</h2>
        <p><strong>{year}</strong></p>
    </div>
</a>