---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

export interface Props {
  name: string;
  year: string;
  images: ImageMetadata[];
  slug: string;
}

const { name, year, images, slug } = Astro.props;
---

<style>
    .project-card {
        transition: opacity 0.3s ease;
    }

    .thumb-wrapper {
        position: relative;
        display: flex;
        align-items: flex-end;
        overflow: hidden;
    }

    .thumb {
        width: 100%;
        max-height: 200px;
        object-fit: cover;
        border-radius: .25rem;
        transition: opacity 0.3s ease;
    }

    .meta {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .5rem 0;
    }

    .meta * {
        font-size: .75rem;
        font-weight: 500;
    }

    .meta p {
        color: #aaa;
    }

    .project-card.active .thumb {
        opacity: 1;
    }

    .project-card:hover .thumb {
        opacity: 1;
    }

    @media (min-width: 1024px) {
        .thumb {
            opacity: 0.02;
        }

        .overlay {
            display: flex;
        }
    }

</style>

<a href={`/${slug}`} class="project-card">
    <div class="thumb-wrapper">
        <Image src={images[0]} alt={name} class="thumb" />
    </div>
    <div class="meta">
        <h2>{name}</h2>
        <p><strong>{year}</strong></p>
    </div>
</a>